.Rproj.user
.Rhistory
.Rapp.history
.RData
.Rdata
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
resmush.Rcheck/
resmush*.tar.gz
resmush*.tgz
CRAN-SUBMISSION
cran-comments.md
.github/pkg.lock
Rplots.pdf
.DS_Store
.quarto
docs
dev
dev/
docs/
