name: CRAN Status Monitor
permissions:
  contents: read
  issues: write

# This will cancel running jobs once a new run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  schedule:
    - cron: "30 07 * * 2,4,6"

jobs:
  check:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check
        uses: dieghernan/cran-status-check@v2
        with:
          fail-on-error: "true"
          create-issue: "false"
